[submodule "front-end"]
	path = front-end
	url = https://github.com/shanelonergan/front-end-stripe-workshop.git
[submodule "back-end-test"]
	path = back-end-test
	url = https://github.com/shanelonergan/back-end-stripe-workshop.git
